
 .author{
    margin-left: 20px;
}
.btnMark{
    background-color: white;
    border: none;
    text-decoration: underline;
    color: blue;
}
.card-container{
    margin-bottom: 30px;
    padding-bottom: 20px;
}